<h1 mat-dialog-title>{{ tache.idTache === 0 ? 'Create Tache' : 'Edit Tache' }}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="tache.description">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="tache.statut">
      <mat-option value="Pending">Pending</mat-option>
      <mat-option value="In Progress">In Progress</mat-option>
      <mat-option value="Completed">Completed</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="tache.dateDebut">
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()" cdkFocusInitial>Save</button>
</div>
